@inherits LayoutComponentBase

@using LuanNiao.Blazor.Component.Antd.Layout
@using LuanNiao.Blazor.Component.Antd.Menu
@using LuanNiao.Blazor.Component.Antd
@using LuanNiao.Blazor.Component.Antd.Icons
@using LuanNiao.Blazor.Component.Antd.Tooltip
@using LuanNiao.Blazor.Component.Antd.Slider
@using LuanNiao.Blazor.Component.Antd.Grid

<LNLayout>
    <Sider CStyle="overflow:auto;height:100%;position:fixed;left:0px;" @ref="SiderInstance">
        <div style="height: 32px; background: rgba(255, 255, 255, 0.2); margin: 16px;" />
        <InlineMenu Theme="MenuBase.MenuTheme.Dark" DefaultSelectedKeys="@(new string[]{"icons"})">

            <MenuItems SiderInstance="@SiderInstance"></MenuItems>
        </InlineMenu>
    </Sider>
    <LNLayout CStyle="@_layoutStyle" ClassName="site-layout" @ref="_rightContent">
        <Header ClassName="site-layout-background" CStyle="padding: 0;">
            <Row>
                <Col Span="1">
                <div @onclick="@(()=>Click())">
                    <MenuUnfoldOutlined ClassName="trigger"></MenuUnfoldOutlined>
                </div>
                </Col>

                <Col Span="1">
                <div @onclick="@(()=>Click1())">
                    <SketchOutlined></SketchOutlined>
                </div>
                </Col>
            </Row>

        </Header>
        <Content CStyle="margin:24px 16px 0px; overflow:initial;">
            <div class="site-layout-background" style="padding: 24px;text-align:center;min-height:100%;">
                @Body
            </div>
        </Content>
        <Footer CStyle="text-align:center;">Luanniao Blazor ©2020 Created by  Luanniao Blazor team</Footer>
    </LNLayout>

</LNLayout>










@code{

    public Sider SiderInstance { get; set; }
    private string _layoutStyle = "margin-left:200px;";
    private LNLayout _rightContent = null;



    public void Click()
    {

        SiderInstance.InverseCollapseStatus();
        _rightContent.StyleHelper.RemoveCustomStyle("margin-left");
        _layoutStyle = SiderInstance.Collapsed ? "margin-left:80px;" : "margin-left:200px;";
        this.StateHasChanged();
    }
    int i = 0;
    public void Click1()
    {
        i++;
        LuanNiao.Blazor.Core.Translater.ConvertTo(i % 2 == 0 ? "en" : "cn");
        this.StateHasChanged();
    }

}
<style>
    .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }

    .site-layout .site-layout-background {
        background: #fff;
    }

    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .lnsider {
        overflow-x: hidden !important;
    }

        .lnsider::-webkit-scrollbar {
            width: 9px;
            height: 9px;
        }


        .lnsider::-webkit-scrollbar-track {
            width: 6px;
            background-color: #0d1b20;
            -webkit-border-radius: 2em;
            -moz-border-radius: 2em;
            border-radius: 2em;
        }


        .lnsider::-webkit-scrollbar-thumb {
            background-color: #606d71;
            background-clip: padding-box;
            min-height: 28px;
            -webkit-border-radius: 2em;
            -moz-border-radius: 2em;
            border-radius: 2em;
        }

            .lnsider::-webkit-scrollbar-thumb:hover {
                background-color: #5a7268;
            }
</style>
